   __,_,
  [_|_/ 
   //
 _//    __
(_|)   |@@|              This server is managed by Ansible. Don't make manual changes!
 \ \__ \--/ __           Beep boop beep boop!
  \o__|----|  |   __
      \ }{ /\ )_ / _\    Have a nice day!
      /\__/\ \__O (__ 
     (--/\--)    \__/
     _)(  )(_
    `---''---`